@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">Авторизация устройства</MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Class="d-flex flex-column align-center">
            <MudText Typo="Typo.body1" Class="mb-4">
                Отсканируйте QR-код с помощью устройства
            </MudText>

            <div class="d-flex justify-center mb-4">
                @if (!string.IsNullOrEmpty(QrCodeImage))
                {
                    <MudImage Src="@QrCodeImage"
                              Alt="QR код для добавления устройства"
                              Width="300"
                              Height="300"
                              ObjectFit="ObjectFit.Cover"
                              Elevation="25"
                              Class="rounded-lg"/>
                }
                else
                {
                    <MudAlert Severity="Severity.Error">Ошибка генерации QR кода</MudAlert>
                }
            </div>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Закрыть</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    
    [Parameter] public string QrCodeImage { get; set; } = string.Empty;
    
    private void Cancel() => MudDialog.Cancel();
} 