<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">

        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
                <Authorizing>
                    <p>Проверка авторизации...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p>Извините, по этому адресу ничего не найдено.</p>
        </NotFound>
        
    </Router>
</CascadingAuthenticationState>