@page "/Login"
@using System.Net
@using Blazorise.FluentValidation
@using PaymentGateway.Shared.Models
@using PaymentGateway.Web.Interfaces
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div style="width: 500px;" class="card">
        <div class="card-header py-4">
            <h3 class="text-center mb-0">Авторизация</h3>
        </div>
        <div class="card-body">

            <Validations @ref="_validations" Mode="ValidationMode.Auto" Model="@_loginModel" ValidateOnLoad="false"
                         HandlerType="typeof(FluentValidationHandler)">
                <Validation>
                    <Field>
                        <TextEdit @bind-Text="@_loginModel.Username" Placeholder="Логин">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation>
                    <Field>
                        <TextEdit type="password" @bind-Text="@_loginModel.Password" Placeholder="Пароль">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>

                @if (!string.IsNullOrEmpty(_errorMessage))
                {
                    <Alert Color="Color.Danger" Visible>
                        @_errorMessage
                    </Alert>
                }

                <Button Color="Color.Primary" Clicked="@Submit" Block>Войти</Button>

            </Validations>
        </div>
    </div>
</div>

@code {
    private readonly LoginModel _loginModel = new();
    private Validations? _validations;
    private string? _errorMessage;

    private async Task Submit()
    {
        _errorMessage = null;

        if (_validations != null)
        {
            if (await _validations.ValidateAll())
            {
                var response = await UserService.Login(_loginModel);

                switch (response.Code)
                {
                    case HttpStatusCode.OK when !string.IsNullOrEmpty(response.Content):
                        await AuthStateProvider.MarkUserAsAuthenticated(response.Content.Trim('"'));
                        NavigationManager.NavigateTo("/", forceLoad: true);
                        break;
                    case HttpStatusCode.Unauthorized:
                        _errorMessage = "Неверный логин или пароль";
                        break;
                    default:
                        _errorMessage = "Ошибка аутентификации";
                        break;
                }
            }
        }
    }
}